body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f6fcf;
}

.container {
  text-align: center;
  margin-top: 100px;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #646cff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #535bf2;
}
